<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Swiftriver-Tagger</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>resourcesDir</param-name>
  	<param-value>WEB-INF/classes/</param-value>
  </context-param>
  <servlet>
    <servlet-name>TaggingInit</servlet-name>
    <servlet-class>com.ushahidi.swiftriver.TaggingInit</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>TaggingApiServlet</servlet-name>
    <servlet-class>com.ushahidi.swiftriver.TaggingApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaggingApiServlet</servlet-name>
    <url-pattern>/entities.json</url-pattern>
  </servlet-mapping>
</web-app>